<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Login</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container" style="max-width: 600px;">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4><i class="bi bi-box-arrow-in-right"></i> Acessar o Sistema</h4>
                </div>
                <div class="card-body">
                    <div th:if="${param.error}" class="alert alert-danger">
                        Usuário ou senha inválidos.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Você saiu do sistema.
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3"> <label for="username" class="form-label">Usuário:</label> <input type="text"
                                id="username" name="username" class="form-control" placeholder="Digite seu usuário"
                                required autofocus>
                        </div>
                        <div class="mb-3"> <label for="password" class="form-label">Senha:</label> <input
                                type="password" id="password" name="password" class="form-control"
                                placeholder="Digite sua senha" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-4">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>